.side_panel
  %h3 Filter
  #replay_filters
    = form_tag replays_path, :method => 'get' do
      = text_field_tag :query, @filters[:query], :placeholder => 'Search title, description or filename'
      = select_tag "league", options_for_select(Replay::LEAGUES.map {|l| [ l.titleize, l ]}, @filters[:league]), :prompt => 'All leagues'
      = select_tag "players", options_for_select(Replay::PLAYERS, @filters[:players]), :prompt => 'All players'
      = select_tag "category_id", options_for_select(@categories.map {|c| [ c.name, c.id ]}, @filters[:category_id]), :prompt => 'All categories'
      = select_tag "rating", options_for_select((1..5).map {|r| [ "At least #{r} stars", r ]}.reverse + [['Unrated', 0]], @filters[:rating]), :prompt => 'All ratings'
      .statuses
        - Replay::STATUSES.each_with_index do |status, i|
          .check_box
            = check_box_tag "statuses[]", status, @filters[:statuses].include?(status), :id => "statuses_#{i}"
            = label_tag "statuses_#{i}", status.titleize
      .check_box
        = check_box_tag "include_expired", "true", @filters[:include_expired]
        = label_tag "include_expired", "Include Expired Replays"

      = submit_tag "Search", :class => 'btn'