= simple_form_for @replay, :validate => true, :html => { :class => 'form-horizontal replay_form' } do |f|
  - if mode == :upload
    = f.input :replay_file

  = f.input :title
  = f.input :description
  
  - if can?(:manage, Replay) && mode == :edit
    = f.input :status, :collection => Replay::STATUSES.map {|c| [ c.titleize, c ] }

  = f.input :category_id, :label => "Category", :collection => @categories.map {|c| [ c.name, c.id ] }
  = f.input :league, :collection => Replay::LEAGUES.map {|c| [ c.titleize, c ] }
  = f.input :players, :collection => Replay::PLAYERS
  = f.input :expansion_pack, :collection => Replay::EXPANSION_PACKS

  #races.control-group
    = f.input :protoss
    = f.input :terran
    = f.input :zerg
    
  - if mode == :upload
    .form-actions
      = f.button :submit, :value => "Upload Replay", :class => "btn btn-large btn-primary"
      = link_to "Cancel", root_path, :class => "btn btn-large"
  - else
    .form-actions
      = f.button :submit, :value => "Save", :class => "btn btn-large btn-primary"
      = link_to "Cancel", replays_path, :class => "btn btn-large"