%h1= pluralize(@replays.count, 'Replay')

- if @replays.count > 0
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
        %th #
        %th Title
        %th Category
        %th Details
        %th Status
    %tbody.clickable
      - @replays.each do |replay|
        %tr{ :data => { :href => edit_replay_path(replay) } }
          %td.suppress_click= check_box_tag "selected[]", replay.id, false, :class => "bulk_selection"
          %td= replay.id
          %td
            .title= link_to truncate(replay.title, :length => 40), edit_replay_path(replay)
            .rating{ :data => { :rating => replay.average_rating } }
            .filename.secondary= truncate(replay.filename, :length => 40)
            .version.secondary= "v #{replay.version}"
          %td= replay.category.name

          %td
            .detail= replay.league.titleize
            .detail= "#{replay.players} (#{races_to_str(replay)})"
            .detail= replay.expansion_pack
            .detail= replay.formatted_game_length
          
          %td
            = replay.status.titleize
            = "(Expired)" if replay.expired?

  = will_paginate @replays

- else
  %p There are no replays matching your search