%h1= pluralize(@replays.count, 'Replay')

- if @replays.count > 0
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th #
        %th Title
        %th Category
        %th League
        %th Status
        %th Uploaded
    %tbody.clickable
      - @replays.each do |replay|
        %tr{ :data => { :href => edit_replay_path(replay) } }
          %td= replay.id
          %td
            .title= link_to replay.title, edit_replay_path(replay)
            .filename.secondary= replay.filename
          %td= replay.category.name
          %td= replay.league.titleize
          %td
            = replay.status.titleize
            = "(Expired)" if replay.expired?
          %td
            = time_ago_in_words(replay.created_at) 
            ago

  = will_paginate @replays

- else
  %p There are no replays matching your search