- @replays.each do |replay|
  %li{ :id => "replay_#{replay.id}" }
    %p.title= replay.title
    %p.description= replay.description
    %p.uploaded
      Uploaded
      = time_ago_in_words(replay.created_at)
      ago
    %p.expires
      - if(replay.expired?)
        This replay has expired
      - else
        Expires in
        = distance_of_time_in_words_to_now(replay.expires_at)
        from now
            
- if @replays.next_page
  = link_to "More Replays", page_user_replays_path(@user, :page => @replays.next_page), :class => "btn more"