.page#edit_replay
  .row
    .span7
      %h1= @replay.title
      %p.uploaded-by
        Uploaded by
        = @replay.user.name
        = time_ago_in_words(@replay.created_at) 
        ago
      %p= link_to "Download Replay", @replay.replay_file.url, :class => "btn btn-large btn-success download-replay"

      .edit_replay_form
        = simple_form_for @replay, :validate => true, :html => { :class => 'form-horizontal' } do |f|
          = f.input :title
          = f.input :description
          = f.input :status, :collection => Replay::STATUSES.map {|c| [ c.titleize, c ] }
          = f.input :category_id, :label => "Category", :collection => @categories.map {|c| [ c.name, c.id ] }
          = f.input :league, :collection => Replay::LEAGUES.map {|c| [ c.titleize, c ] }
          = f.input :players, :collection => Replay::PLAYERS.map {|c| [ c.titleize, c ] }
          #races.control-group
            = f.input :protoss
            = f.input :terran
            = f.input :zerg
          .form-actions
            = f.button :submit, :value => "Save", :class => "btn btn-large btn-primary"
            = link_to "Cancel", replays_path, :class => "btn btn-large"

    .span5
      %h3 Comments


