#edit_replay
  .row
    .span7
      %h1= @replay.title
      %p.uploaded-by
        = @replay.filename
        was uploaded by
        = @replay.user.name
        about
        = time_ago_in_words(@replay.created_at) 
        ago
      %p
        .rating{ :data => { :rating => @replay.average_rating } }
      %p 
        Game Length:
        = @replay.formatted_game_length
      %p 
        Game Version:
        = @replay.version

      %p= link_to "Download Replay", @replay.replay_file.url, :class => "btn btn-large btn-success download-replay"

      .edit_replay_form
        = render 'form', :mode => :edit

    .span5
      .side_panel.comments
        %h3 Comments
        - if can? :create, Comment
          %p Please review the replay and then add your comments and rating for this replay.
          = render "comments/form"

        = render "comments/page"
