- @comments.each do |comment|
  .comment
    .text= simple_format(comment.text)
    .author
      Posted by 
      = comment.user.name
      = time_ago_in_words(comment.created_at) 
      ago
      - if can? :edit, comment
        = link_to "Edit", edit_replay_comment_path(comment.replay, comment)

    .rating{ :data => { :rating => comment.rating } }

- if @comments.next_page
  = link_to "More Comments", replay_comments_path(@replay, :page => @comments.next_page), :class => "btn more"