- if info.profile_service.url_prefix.present?
  .service.linked{ :data => { :href => info.profile_service.url_prefix + info.url_suffix } }
    .logo= image_tag info.profile_service.logo.url
    .details
      .name= link_to info.profile_service.name, info.profile_service.url_prefix + info.url_suffix
      .player= info.username
- else
  .service
    .logo= image_tag info.profile_service.logo.url
    .details
      .name= info.profile_service.name
      .player= info.username