#my-profile
  .row
    .span8
      .row
        .span8
          .row
            .span2
              #avatar
                = image_tag(@user.avatar_url(150))
            .span5
              #info
                %h2= @user.name
                %p= link_to "Public Profile", user_path(@user)
                %p.joined          
                  Joined
                  = time_ago_in_words(@user.created_at)
                  ago
                %p
                  %b= @user.role.titleize
                %p 
                  Change your avatar at
                  = link_to "gravatar.com", "http://gravatar.com"
      
      .row.user_details
        .span8
          = simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
            %fieldset
              %legend Basics

              = f.input :name, :label => 'Username'
              = f.input :email
              
              - if can? :change_password, @user
                = f.input :password
                = f.input :password_confirmation              

              - if can? :change_status, @user
                = f.input :active

              - if can? :change_role, @user
                = f.input :role, :collection => User::ROLES.map {|c| [ c.titleize, c ] }
            
            %fieldset
              %legend Forum
              = f.input :signature, :label => 'Forum Signature', :hint => "There is a max height limit of 150px and width of 700px, so don't make it too big. Don't forget you can use <a href='http://www.emoji-cheat-sheet.com' target='_blank'>Emoji</a> here too.".html_safe

              - if can? :show_signature, @user
                = f.input :show_signature, :label => "Allow this signature"

              = f.input :hide_others_signatures, :label => "Hide all signatures"

            %fieldset
              %legend Profile Page
              = f.input :country
              = f.input :banner, :hint => "The banner should be 980px x 230px. Images will be resized to fit if required."
              = f.input :remove_banner, :as => :boolean if @user.banner.url.present?
              = f.input :facebook, :label => 'facebook.com/'
              = f.input :twitter, :label => 'twitter.com/'
              = f.input :you_tube, :label => 'youtube.com/'
              = f.input :twitch, :label => 'twitch.com/'
              = f.input :about_me, :hint => "There is a max height limit of 300px, so don't make it too big. Don't forget you can use <a href='http://www.emoji-cheat-sheet.com' target='_blank'>Emoji</a> here too.".html_safe

            .form-actions
              = f.button :submit, :value => "Save Changes", :class => 'btn btn-primary'
              - if can? :manage, User
                = link_to "Cancel", users_path, :class => "btn"
              - else
                = link_to "Cancel", root_path, :class => "btn"

    .span4
      %h2 Your replays
      - if @replays.count == 0
        %p 
          You have no replays,
          = link_to "upload a replay now", new_replay_path
      -else
        #replays
          %p 
            Played an awesome game? You can
            = link_to "upload a replay here.", new_replay_path
          %p
            Replays expire after 
            = Replay::EXPIRY_DAYS
            days to help keep LAGTV content fresh.

          %ul
            = render "replays/page"