#my-profile
  .row
    .span7
      .row
        .span7
          .row
            .span2
              #avatar
                = image_tag(@user.avatar_url(150))
            .span5
              #info
                %h2= @user.name
                %p.joined          
                  Joined
                  = time_ago_in_words(@user.created_at)
                  ago
                %p 
                  Change your avatar at
                  = link_to "gravatar.com", "http://gravatar.com"
      
      .row.user_details
        .span7
          = simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
            = f.input :name
            = f.input :email
            = f.input :password
            = f.input :password_confirmation
            - if can? :change_role, @user
              = f.input :role, :collection => User::ROLES.map {|c| [ c.titleize, c ] }
            = f.button :submit
    .span5
      %h2 Your replays
      - if @replays.count == 0
        %p 
          You have no replays,
          = link_to "upload a replay now", new_replay_path
      -else
        #replays
          %p 
            Played an awesome game? You can
            = link_to "upload a replay here.", new_replay_path

          %ul
            = render "replays/page"