%h1 Register new account
%p Fill in the form below to create a new account so that you can upload replays for casting and post in the forums.
= simple_form_for @user, :validate => true, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  
  .form-actions
    = f.button :submit, :value => "Register", :class => "btn btn-large btn-primary"
    = link_to "Cancel", root_path, :class => "btn btn-large"
