.row
  .span9
    %h1 Register new account
    
    = simple_form_for @user, :validate => true, :html => { :class => 'form-horizontal' } do |f|
      = f.input :name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      
      .form-actions
        = f.button :submit, :value => "Register", :class => "btn btn-large btn-primary"
        = link_to "Cancel", root_path, :class => "btn btn-large"

  .span3
    %p Fill in the registration form on the left to create a new account which will enable you to upload replays for casting and post in the forums.
    %p 
      If you already have an account you can 
      = link_to "login here.", login_path