%h3 Register new account
= form_for @user do |f|
  - if @user && @user.errors.any?
    .errors
      %ul
        - @user.errors.full_messages.each do |error|
          %li= error
  .field
    = f.label :name, "Name: "
    = f.text_field :name
  .field
    = f.label :email, "Email: "
    = f.text_field :email
  .field
    = f.label :password, "Password: "
    = f.password_field :password
  .field
    = f.label :password_confirmation, "Confirm password:"
    = f.password_field :password_confirmation
  .actions
    = submit_tag "Register", :class => "btn btn-large"
