#public_profile
  .profile_banner{ :style => "background-image: url(#{@user.banner.url})" }
    .info
      .span2
        = image_tag(@user.avatar_url(150))
        .profile_icons
          = profile_link_to :you_tube, @user
          = profile_link_to :twitter, @user
          = profile_link_to :facebook, @user
          = profile_link_to :twitch, @user

      .span9
        %h1.public_profile= @user.name
        %p.role= @user.role.titleize
        %p.country= @user.country if @user.country
        %p.joined= "Joined #{time_ago_in_words(@user.created_at)} ago"

  .row
    .span6
      %h3 About Me
      .about_me= forem_format(@user.about_me) if @user.about_me.present?
    .span6
      %h3 Player Connect
      .player_connect
        - if @user.profile_service_infos.size == 0
          %p No games have been setup yet.
        - else

          - services_per_page = 8
          #player_connect.carousel.slide
            .carousel-inner
              - first = true
              - @services.each_slice(services_per_page) do |group|
                .item{ :class => first ? "active" : "" }
                  - group.each do |info|
                    = render "profile_service", :info => info
                - first = false

            - if @user.profile_service_infos.size > services_per_page
              %a.carousel-control.left{ :href => "#player_connect", :data => {:slide => "prev"} } &lsaquo;
              %a.carousel-control.right{ :href => "#player_connect", :data => {:slide => "next"} } &rsaquo;

  .row
    .span6
      %h3= "Started #{pluralize(@topics_started.total_entries, 'topic')}"
      .topics_started_by
        = render 'topics', :topics => @topics_started, :hint => "topics_started_by"

    .span6
      %h3= "Participated in another #{pluralize(@topics_participated_in.total_entries, 'topic')}"
      .topics_with_posts_by
        = render 'topics', :topics => @topics_participated_in, :hint => "topics_with_posts_by"