#public_profile
  .row.info
    .span2
      = image_tag(@user.avatar_url(140))

    .span10
      %h1.public_profile= @user.name
      %p
        %b= @user.role.titleize
      %p.joined          
        Joined
        = time_ago_in_words(@user.created_at)
        ago

  .row
    .span6
      - if @topics_started.empty?
        %h3 Has not started any topics
      - else
        %h3
          Started 
          = pluralize(@topics_started.count, 'topic')
        = render 'topics', :topics => @topics_started, :hint => "topics_started_by"

    .span6
      - if @topics_participated_in.empty?
        %h3 Has not participated in any other topics
      - else
        %h3
          Participated in another
          = pluralize(@topics_participated_in.count, 'topic') 
        = render 'topics', :topics => @topics_participated_in, :hint => "topics_with_posts_by"