.page#home
  .row
    .span8
      %ul.nav.nav-tabs#channel_tabs
        %li= link_to "StarCraft", "#lagtv1"
        %li= link_to "Minecraft", "#lagtv2"
       
      .tab-content
        .tab-pane#lagtv1
          = render 'channel', :channel => @lifesaglitchtv
        .tab-pane#lagtv2
          = render 'channel', :channel => @lifesaglitchtv2
      
    .span4.replay_panel
      %h2 Upload a replay
      %p
        If you have a replay that you would like cast on LagTV, then you need to login to your account before you can upload it.
      %p.buttons
        = form_tag '/auth/identity/callback' do
          .field
            = label_tag :auth_key, "Email"
            = text_field_tag :auth_key
          .field
            = label_tag :password, "Password"
            = password_field_tag :password
          = submit_tag "Login", :class => "btn btn-large"
      %p
        If you do not yet have an account then you first need to register one.
      %p.buttons
        = link_to "Register", "#", :class => "btn btn-large"
      