.page#home
  .row
    .span8
      %ul.nav.nav-tabs#channel_tabs
        %li= link_to "StarCraft", "#starcraft"
        %li= link_to "Minecraft", "#minecraft"
       
      .tab-content
        .tab-pane#starcraft
          = render 'channel', :channel => @lifesaglitchtv
        .tab-pane#minecraft
          = render 'channel', :channel => @lifesaglitchtv2
      
    .span4.replay_panel
      - if can? :create, Replay
        %h2 Upload a replay
        = render 'replays/upload'
      - else
        .login_register_panel
          %h2 Login to upload a replay
          If you have a replay that you would like cast on LagTV, then you need to login to your account before you can upload it. 
          %p.buttons
            = form_tag sessions_path do
              .field
                = label_tag :email, "Email"
                = text_field_tag :email, params[:email]
              .field
                = label_tag :password, "Password"
                = password_field_tag :password
              .field.form-inline
                = submit_tag "Login", :class => "btn btn-large"              
                = label_tag :remember_me, "Remember me", :class => "checkbox"
                = check_box_tag :remember_me, 1, params[:remember_me]
          %p
            If you do not yet have an account then you first need to register one.
          %p.buttons
            = link_to "Register", register_path, :class => "btn btn-large register"
      