%h1 About
%p Information about the site

%h2 Contributors

.contributors
  %h3 Coders
  %p Text about the coders

  = link_to "http://twitter.com/andypike", :class => "contributor", :style => "background: url(http://www.gravatar.com/avatar/196ab25f16dcfd37518a41ceb15e0da0.jpg?s=100)" do
    .bar 
      %span.name Logic

  = link_to "http://twitter.com/george_good", :class => "contributor", :style => "background: url(http://www.gravatar.com/avatar/a5efd36361967ca7c358255517cb44e6.jpg?s=100)" do
    .bar 
      %span.name Danger

  = link_to "http://twitter.com/efexen", :class => "contributor", :style => "background: url(http://www.gravatar.com/avatar/190c3360cebf4af20523f2e5a1f2096b.jpg?s=100)" do
    .bar 
      %span.name FxN

.contributors
  %h3 Testers
  %p Text about the testers

  = link_to "#", :class => "contributor", :style => "background: url(http://www.gravatar.com/avatar/f7f9b20a014420a25cb25fb05cbce54b.jpg?s=100)" do
    .bar 
      %span.name Stuka87

  = link_to "#", :class => "contributor", :style => "background: url(http://www.gravatar.com/avatar/061f4ba5743171bba17635d9cd57aeca.jpg?s=100)" do
    .bar 
      %span.name Cyclooctane

.contributors
  %h3 Designers
  %p TBC

.contributors
  %h3 Support
  %p TBC

.contributors
  %h3 Special Thanks
  %p TBC