%h1 About
%p This site was created by the LagTV community for the community. We have had a lot of help in building this site, some of the people who helped are listed below. Thank you to everyone that helped, we really appriciate it.

%h2 Contributors

.contributors
  %h3 Coders

  = link_to "http://twitter.com/andypike", :class => "contributor", :style => "background-image: url(http://www.gravatar.com/avatar/196ab25f16dcfd37518a41ceb15e0da0.jpg?s=100)" do
    .bar 
      %span.name Logic

  = link_to "http://twitter.com/george_good", :class => "contributor", :style => "background-image: url(http://www.gravatar.com/avatar/a5efd36361967ca7c358255517cb44e6.jpg?s=100)" do
    .bar 
      %span.name Danger

  = link_to "http://twitter.com/efexen", :class => "contributor", :style => "background-image: url(http://www.gravatar.com/avatar/190c3360cebf4af20523f2e5a1f2096b.jpg?s=100)" do
    .bar 
      %span.name FxN

.contributors
  %h3 Testers

  = link_to "http://www.youtube.com/stuka87s", :class => "contributor", :style => "background-image: url(http://stuka.fsjnetwork.com/avatars/durandallogon2.jpg)" do
    .bar 
      %span.name Stuka87

  = link_to "#", :class => "contributor", :style => "background-image: url(http://www.gravatar.com/avatar/061f4ba5743171bba17635d9cd57aeca.jpg?s=100)" do
    .bar 
      %span.name Cyclooctane

.contributors
  %h3 Designers
  %p TBC