#home
  .banner
    .container.inner-banner.tab1
      .tabs.pull-left
        #tab1.tab.top.selected{ :data => {:channel => "lagtv1"} }
          %h2 LAGTV
          %p When cheese fails and other popular eSports series.
        #tab2.tab.bottom{ :data => {:channel => "lagtv2"} }
          %h2 LAGTV2
          %p Playthroughs, vlogs, reviews, interviews and other stuff.
      .latest_video.pull-right.lagtv1
        = raw @lifesaglitchtv.latest_video.embed_html5(:protocol => 'https', :width => '380', :height => '234', :url_params => {:wmode => 'opaque'}) if @lifesaglitchtv.latest_video
      .latest_video.pull-right.lagtv2.hide
        = raw @lifesaglitchtv2.latest_video.embed_html5(:protocol => 'https', :width => '380', :height => '234', :url_params => {:wmode => 'opaque'}) if @lifesaglitchtv2.latest_video

  .channel.lagtv1
    = render 'channel', :channel => @lifesaglitchtv
  .channel.lagtv2.hide
    = render 'channel', :channel => @lifesaglitchtv2

  .container.latest_forum_activity
    %h1 Latest Forum Activity
    %table.table.table-bordered
      %thead
        %tr
          %th Topic
          %th Forum
          %th.thin Posts
      %tbody.clickable
        - @latest_topics.each do |topic|
          %tr{ :data => { :href => forem.forum_topic_path(topic.forum, topic) } }
            %td
              = link_to topic.subject, forem.forum_topic_path(topic.forum, topic)
              .ago
                = time_ago_in_words(topic.last_post_at)
                ago 
            %td= topic.forum.title
            %td.thin.number
              %span= topic.posts.count
            
            
