#home
  .banner
    .container.inner-banner.tab1
      .tabs.pull-left
        #tab1.tab.top.selected{ :data => {:channel => "lagtv1"} }
          %h2 LAGTV
          %p When cheese fails and other popular SC2 series.
        #tab2.tab.bottom{ :data => {:channel => "lagtv2"} }
          %h2 LAGTV2
          %p Playthroughs, vlogs, reviews, interviews and other stuff.
      .latest_video.pull-right.lagtv1
        = raw @lifesaglitchtv.latest_video.embed_html5(:width => '380', :height => '234')
      .latest_video.pull-right.lagtv2.hide
        = raw @lifesaglitchtv2.latest_video.embed_html5(:width => '380', :height => '234')

  .channel.lagtv1
    = render 'channel', :channel => @lifesaglitchtv
  .channel.lagtv2.hide
    = render 'channel', :channel => @lifesaglitchtv2

  .container.latest_forum_activity
    %h1 
      Latest activity from the forums
    %table.table.table-bordered
      %thead
        %tr
          %th.thin
          %th.primary Subject
          %th Forum
          %th Posts
      %tbody.clickable
        - @latest_topics.each do |topic|
          %tr{ :data => { :href => forem.forum_topic_path(topic.forum, topic) } }
            %td.thin
              .date
                .day= topic.last_post_at.day
                .month= topic.last_post_at.strftime('%b')
            %td.primary= link_to topic.subject, forem.forum_topic_path(topic.forum, topic)
            %td= topic.forum.title
            %td.number
              %span= topic.posts.count
            
            