.row
  .span9
    %h1 New Email
    
    = simple_form_for @email, :validate => true, :html => { :class => 'form-horizontal' } do |f|
      = f.input :subject
      = f.input :body, :as => :text
      - User::ROLES.each do |r|
        = f.input r.to_sym, :as => :boolean

      .form-actions
        = f.button :submit, :value => "Send", :class => "btn btn-large btn-primary"
        = link_to "Cancel", root_path, :class => "btn btn-large"