.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav.pull-left
        %li= link_to "Home", main_app.root_url(:protocol => 'http')
        %li= link_to "Forums", main_app.forem_url(:protocol => 'http')

        - if can? :manage, User
          %li= link_to "Users", main_app.users_url(:protocol => 'http')
        - if can? :manage, Replay
          %li= link_to "Replays", main_app.replays_url(:protocol => 'http')
        - if can? :manage, Category
          %li= link_to "Categories", main_app.categories_url(:protocol => 'http')
        - if can? :manage, Announcement
          %li= link_to "Announcements", main_app.announcements_url(:protocol => 'http')
        - if can? :manage, Email
          %li= link_to "Emails", main_app.emails_url(:protocol => 'http')
    
      %ul.nav.pull-right
        - if current_user
          %li.my_profile
            = link_to secure_my_profile_path do
              = image_tag current_user.avatar_url(20)
              = current_user.name
          %li= link_to "Logout", main_app.logout_path
        - else
          %li= link_to "Login", secure_login_path
          %li= link_to "Register", secure_register_path

- current_announcements.each do |announcement|
  .announcement{ :id => "announcement_#{announcement.id}" }
    .container
      - if announcement.url.present?
        = link_to announcement.message, announcement.url
      - else
        %span.message= announcement.message
        
      = link_to main_app.hide_announcement_path(announcement), :class => 'pull-right', :title => 'Hide this announcement', :remote => true do
        %i.icon-remove.icon-white
