.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav.pull-left
        %li= link_to "Home", main_app.root_path
        %li= link_to "Forums", main_app.forem_path
        %li= link_to "Upload a Replay", send_replays_path(current_user)

        - if can? :manage, User
          %li= link_to "Users", main_app.users_path
        - if can? :manage, Replay
          %li= link_to "Replays", main_app.replays_path
        
      %ul.nav.pull-right
        - if current_user
          %li= link_to "My Profile", main_app.my_profile_path
          %li= link_to "Logout", main_app.logout_path
        - else
          %li= link_to "Login", main_app.login_path
          %li= link_to "Register", main_app.register_path

- if current_user && current_user.admin?
  - stat = Sys::Filesystem.stat("/")
  - gb_available = stat.block_size * stat.blocks_available / 1000.0 / 1000.0 / 1000.0
  - gb_total = stat.block_size * stat.blocks / 1000.0 / 1000.0 / 1000.0          

  .stats
    .container
      %ul
        %li
          Free: 
          = number_with_precision(gb_available, :precision => 1)
          GB
        %li
          Total:
          = number_with_precision(gb_total, :precision => 1)
          GB
        %li
          Percent:
          = number_with_precision(((gb_available / gb_total) * 100.0), :precision => 1)

      