!!! 5
%html
  %head
    %title Life's a Glitch TV
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = google_analytics
    = csrf_meta_tags
    %link{ :rel => "shortcut icon", :href => image_path("favicon2.ico") }
    %meta{ :name => "google-site-verification", :content => "jAxzbkr9d7r9HKUGfL0fLsVCEC1inrWRZ-fOiCIgLVE" }
    = yield(:head)

  %body{:class => @current_announcements.length > 0 ? "announcement#{@current_announcements.length}" : ''}
    %header
      = render "/layouts/menu"

      .container
        - if flash[:notice]
          .alert.alert-success.fade.in{ 'data-alert' => 'alert' }
            %a.close{ :href => "#", :data => {:dismiss => "alert"} } &times;
            = flash[:notice]
        - if flash[:alert]
          .alert.alert-error.fade.in{ 'data-alert' => 'alert' }
            %a.close{ :href => "#", :data => {:dismiss => "alert"} } &times;
            = flash[:alert]

      .social
        .container
          .pull-left.icons.twitch
            = render '/pages/streams'
          .pull-right.icons
            = link_to "", "http://www.facebook.com/lagtv", :target => "_blank", :class => "facebook"
            = link_to "", "http://www.twitter.com/lifesaglitchtv", :target => "_blank", :class => "twitter"
            = link_to "", "http://d2dgamer.wordans.com/my/boutique", :target => "_blank", :class => "store"
          .pull-right
            = link_to send_replays_path(current_user), :class => "blue_pill" do 
              %span Send us your replays
      .logo_line
        .container
          = link_to image_tag("logo.png", :class => "logo"), main_app.root_url

    - page_wrapper do
      = yield  

    .container
      .adsense= adsense

    %footer
      .container
        %p.pull-left 
          &copy; Copyright LAGTV 2012. All rights reserved. 
          %br
          %br
          Version: 
          = VERSION
        %ul.pull-right
          %li= link_to "About", main_app.about_path
          %li= link_to "How to help", "http://github.com/andypike/lagtv", :target => "_blank"
          - if CONFIG[:privacy_link].present?
            %li= link_to "Privacy", CONFIG[:privacy_link]
          - if CONFIG[:terms_and_conditions_link].present?
            %li= link_to "Terms & Conditions", CONFIG[:terms_and_conditions_link]
        %ul.pull-right
          %li= link_to "NovaWar Stream", "http://www.twitch.tv/novawar", :target => "_blank"
          %li= link_to "MaximusBlack Stream", "http://www.twitch.tv/lagtvmaximusblack", :target => "_blank"
          %li= link_to "LAGTV Stream", "http://www.twitch.tv/lifesaglitchtv", :target => "_blank"
          %li= link_to "LAGTV Store", "http://d2dgamer.wordans.com/my/boutique", :target => "_blank"
        %ul.pull-right
          %li= link_to "LAGTV Channel 1", "http://www.youtube.com/lifesaglitchtv", :target => "_blank"
          %li= link_to "LAGTV Channel 2", "http://www.youtube.com/lifesaglitchtv2", :target => "_blank"
          %li= link_to "NovaWar Solo Channel", "http://www.youtube.com/user/computerplayer1", :target => "_blank"
          %li= link_to "MaximusBlack Solo Channel", "http://www.youtube.com/user/MaximusBlack", :target => "_blank"
          %li= link_to "Polaris", "http://www.youtube.com/TheGameStation", :target => "_blank"
