!!! 5
%html
  %head
    %title LagTV
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.container
      .logo
        = image_tag "logo.png"
      .navbar
        .navbar-inner
          .container
            %ul.nav.pull-left
              %li= link_to "Home", root_path
              %li= link_to "Replays", root_path
              %li= link_to "Members", root_path
            %ul.nav.pull-right
              %li= link_to "YT", "http://www.youtube.com/lifesaglitchtv"
              %li= link_to "TW", "http://www.twitter.com/lifesaglitchtv"
              %li= link_to "FB", "http://www.facebook.com/lagtv"
              %li.dropdown#more-content
                %a{ :href=>"#more-content", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"} }
                  More
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "LagTV YouTube channel 2", "http://www.youtube.com/lifesaglitchtv2"
                  %li= link_to "LagTV Store", "http://d2dgamer.wordans.com/my/boutique#add_comment"
                  %li= link_to "Solo YouTube channel for Adam", "http://www.youtube.com/user/computerplayer1"
                  %li= link_to "Solo YouTube channel for Jeff", "http://www.youtube.com/user/MaximusBlack"
                  %li= link_to "Twitch TV channel for Adam", "http://www.twitch.tv/novawar"
                  %li= link_to "Twitch TV channel for Jeff", "http://www.twitch.tv/lagtvmaximusblack"
                  %li= link_to "Machinima Realm", "http://www.youtube.com/machinimarealm"
              
    .main.container
      = yield
    %footer.container
      %p &copy Copyright LagTV 2012.