!!! 5
%html
  %head
    %title Life's a Glitch TV
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      = render "/layouts/menu"
      .social
      .logo_line
        .container
          = image_tag "logo.png", :class => "logo"
    = yield  



-#
  .logo
  = image_tag "logo.png"

  - if current_user
    %p.pull-right
      Logged in as 
      = current_user.name
      = "(#{current_user.role.titleize})"



      
            
  .main.container
    - if flash[:notice]
      .alert.alert-success.fade.in{ 'data-alert' => 'alert' }
        %a.close{ :href => "#", :data => {:dismiss => "alert"} } &times;
        = flash[:notice]
    - if flash[:alert]
      .alert.alert-error.fade.in{ 'data-alert' => 'alert' }
        %a.close{ :href => "#", :data => {:dismiss => "alert"} } &times;
        = flash[:alert]
    
    = yield
  %footer.container
    %p &copy Copyright LagTV 2012.