!!! 5
%html
  %head
    %title LagTV
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.container
      .logo
        = image_tag "logo.png"
      .navbar
        .navbar-inner
          .container
            %ul.nav
              %li= link_to "Home", root_path
              %li= link_to "Replays", root_path
              %li= link_to "Members", root_path
    .main.container
      = yield
    %footer.container
      %p &copy Copyright LagTV 2012.