!!! 5
%html
  %head
    %title Life's a Glitch TV
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.container
      .logo
        = image_tag "logo.png"
      .navbar
        .navbar-inner
          .container
            %ul.nav.pull-left
              %li= link_to "Home", root_path
              - if can? :manage, User
                %li= link_to "Users", users_path
              - if can? :manage, Replay
                %li= link_to "Replays", replays_path
              - if current_user
                %li= link_to "My Profile", my_profile_path
            %ul.nav.pull-right
              - if current_user
                %li= link_to "Logged in as #{current_user.name}", ""
                %li= link_to "Logout", logout_path
              %li.icon= link_to "", "http://www.youtube.com/lifesaglitchtv", :target => "_blank", :class => "icons-youtube"
              %li.icon= link_to "", "http://www.twitter.com/lifesaglitchtv", :target => "_blank", :class => "icons-twitter"
              %li.icon= link_to "", "http://www.facebook.com/lagtv", :target => "_blank", :class => "icons-facebook"
              %li.dropdown#more-content
                %a{ :href=>"#more-content", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"} }
                  More
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{ :href => "http://www.youtube.com/lifesaglitchtv2", :target => "_blank" }
                      .icons-small-youtube.dropdown-icon
                      LagTV Channel 2
                  %li
                    %a{ :href => "http://d2dgamer.wordans.com/my/boutique#add_comment", :target => "_blank" }
                      .icons-small-store.dropdown-icon
                      LagTV Store
                  %li
                    %a{ :href => "http://www.youtube.com/user/computerplayer1", :target => "_blank" }
                      .icons-small-youtube.dropdown-icon
                      Novawar Solo Channel
                  %li
                    %a{ :href => "http://www.youtube.com/user/MaximusBlack", :target => "_blank" }
                      .icons-small-youtube.dropdown-icon
                      MaximusBlack Solo Channel
                  %li
                    %a{ :href => "http://www.twitch.tv/novawar", :target => "_blank" }
                      .icons-small-twitch.dropdown-icon
                      Novawar Stream
                  %li
                    %a{ :href => "http://www.twitch.tv/lagtvmaximusblack", :target => "_blank" }
                      .icons-small-twitch.dropdown-icon
                      MaximusBlack Stream
                  %li
                    %a{ :href => "http://www.youtube.com/machinimarealm", :target => "_blank" }
                      .icons-small-machinima.dropdown-icon
                      Machinima Realm
              
    .main.container
      - if flash[:notice]
        .alert.alert-success.fade.in{ 'data-alert' => 'alert' }
          %a.close{ :href => "#", :data => {:dismiss => "alert"} } &times;
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-error.fade.in{ 'data-alert' => 'alert' }
          %a.close{ :href => "#", :data => {:dismiss => "alert"} } &times;
          = flash[:alert]
      
      = yield
    %footer.container
      %p &copy Copyright LagTV 2012.